build/
*.log
*.aux
*.pdf
*.gz
*.fdb_latexmk
*.fls
*.out
*.toc
*.bbl
*.blg
.DS_Store

.vscode/
*.vscodeLog

!_res/*
!styrdokument/stadga/_res/*
!moten/2016-vt-handlingar/_res/*
!moten/2016-vt-handlingar/_res/bokslut/*
